.DS_Store
Thumbs.db

# Local SQLite DB and uploaded files (recreated on server / via install)
/data/*.sqlite
/data/uploads/

# Node (optional realtime server)
**/node_modules/

# Editor
.idea/
.vscode/
*.swp
*.swo
